*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  background-color: #fff;
  color: #797979;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    font-size: 1rem; }

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 10px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 0; }

a {
  color: #444444;
  text-decoration: none; }
  a:hover {
    color: #444444;
    text-decoration: underline; }

.c-btn {
  display: inline-block;
  padding: 1rem 1.25rem;
  line-height: 1.2;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  transition: all .25s ease-in-out; }
  .c-btn:hover {
    text-decoration: none; }
  .c-btn__icon {
    margin-left: .5rem; }
  .c-btn--accent {
    background-color: #f1c40f;
    color: #fff; }
    .c-btn--accent:hover {
      background-color: #aa8a0a;
      color: #fff; }
  .c-btn--light {
    background-color: #fff;
    color: #444444; }
    .c-btn--light:hover {
      background-color: #d9d9d9;
      color: #444444; }
  .c-btn--outline {
    padding: .55rem 1rem;
    background-color: transparent;
    border: 3px solid #fff;
    font-size: 1.5rem;
    line-height: 1;
    color: #fff; }
    .c-btn--outline:hover {
      color: #d9d9d9;
      border: 3px solid #d9d9d9; }
  .c-btn--small {
    border-radius: 3px;
    font-size: 0.5625rem;
    padding: .55rem .75rem; }

.c-heading {
  color: #444444;
  line-height: 1.2;
  margin-bottom: 5px;
  letter-spacing: -0.05rem; }
  .c-heading--level1 {
    font-size: 2.5rem; }
    @media (min-width: 1200px) {
      .c-heading--level1 {
        font-size: 3.75rem; } }
  .c-heading--level2 {
    font-size: 1.5rem; }
    @media (min-width: 1200px) {
      .c-heading--level2 {
        font-size: 2.5rem; } }
  .c-heading--level3 {
    font-size: 1rem; }
  .c-heading--upper {
    text-transform: uppercase; }
  .c-heading--white {
    color: #fff; }

.c-input {
  background-color: #fff;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
  border: none;
  border-radius: 5px;
  outline: none; }
  .c-input::placeholder {
    color: #d1d1d1; }
  .c-input::-moz-placeholder {
    color: #d1d1d1;
    opacity: 1; }
  .c-input::-ms-placeholder {
    color: #d1d1d1; }
  .c-input--newsletter {
    padding: .7rem 1.5rem;
    border-radius: 5px 0 0 5px; }

.c-nav {
  margin-bottom: 10px; }
  @media (min-width: 1200px) {
    .c-nav {
      margin-bottom: 0; } }
  .c-nav__item {
    display: block;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 25px;
    color: #444444;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
    .c-nav__item:hover {
      color: #444444; }
    @media (min-width: 1200px) {
      .c-nav__item {
        display: inline-block;
        width: auto;
        margin-right: 40px; } }

.c-icon-box {
  text-align: center; }
  .c-icon-box__image {
    margin-bottom: 15px; }
  .c-icon-box__name {
    display: block;
    color: #f1c40f;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2; }
  .c-icon-box__info {
    display: block;
    font-size: 0.75rem;
    color: #797979; }

.c-pagination__item {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 700; }

.c-product-selector {
  display: inline-block; }
  .c-product-selector__item {
    display: block;
    margin-bottom: 20px;
    color: #444444;
    font-size: 0.875rem;
    text-transform: uppercase; }
    @media (min-width: 1200px) {
      .c-product-selector__item {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 50px; } }

.c-product-card {
  margin-bottom: 40px; }
  .c-product-card__top {
    position: relative;
    height: 310px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    text-align: center; }
  .c-product-card__picture {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .c-product-card__cart {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    height: 40px;
    width: 220px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f3f5; }
  .c-product-card__cart-icon {
    flex: 0 0 20%;
    text-align: center; }
  .c-product-card__cart-text {
    flex: 0 0 60%;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #797979;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase; }
  .c-product-card__meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem; }
  .c-product-card__color {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%; }
    .c-product-card__color--one {
      background-color: #da8dfe; }
    .c-product-card__color--two {
      background-color: #febdbd; }
    .c-product-card__color--three {
      background-color: #fecfbd; }
    .c-product-card__color--four {
      background-color: #bde6fe; }
    .c-product-card__color--five {
      background-color: #fedebd; }
    .c-product-card__color--six {
      background-color: #e6bdfe; }
    .c-product-card__color--seven {
      background-color: #458a5c; }
    .c-product-card__color--eight {
      background-color: #8a6245; }
    .c-product-card__color--nine {
      background-color: #3f5587; }
  .c-product-card__price {
    display: block;
    font-size: 1.125rem;
    font-weight: 700; }

.u-bg-white {
  background-color: #fff; }

.u-white {
  color: #fff; }

.u-accent {
  color: #f1c40f; }
