*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  background-color: #fff;
  color: #797979;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    font-size: 1rem; }

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 10px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 0; }

a {
  color: #444444;
  text-decoration: none; }
  a:hover {
    color: #444444;
    text-decoration: underline; }

.c-btn {
  display: inline-block;
  padding: 1rem 1.25rem;
  line-height: 1.2;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  transition: all .25s ease-in-out; }
  .c-btn:hover {
    text-decoration: none; }
  .c-btn__icon {
    margin-left: .5rem; }
  .c-btn--accent {
    background-color: #f1c40f;
    color: #fff; }
    .c-btn--accent:hover {
      background-color: #aa8a0a;
      color: #fff; }
  .c-btn--light {
    background-color: #fff;
    color: #444444; }
    .c-btn--light:hover {
      background-color: #d9d9d9;
      color: #444444; }
  .c-btn--outline {
    padding: .55rem 1rem;
    background-color: transparent;
    border: 3px solid #fff;
    font-size: 1.5rem;
    line-height: 1;
    color: #fff; }
    .c-btn--outline:hover {
      color: #d9d9d9;
      border: 3px solid #d9d9d9; }
  .c-btn--small {
    border-radius: 3px;
    font-size: 0.5625rem;
    padding: .55rem .75rem; }

.c-heading {
  color: #444444;
  line-height: 1.2;
  margin-bottom: 5px;
  letter-spacing: -0.05rem; }
  .c-heading--level1 {
    font-size: 2.5rem; }
    @media (min-width: 1200px) {
      .c-heading--level1 {
        font-size: 3.75rem; } }
  .c-heading--level2 {
    font-size: 1.5rem; }
    @media (min-width: 1200px) {
      .c-heading--level2 {
        font-size: 2.5rem; } }
  .c-heading--level3 {
    font-size: 1rem; }
  .c-heading--upper {
    text-transform: uppercase; }
  .c-heading--white {
    color: #fff; }

.c-input {
  background-color: #fff;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
  border: none;
  border-radius: 5px;
  outline: none; }
  .c-input::placeholder {
    color: #d1d1d1; }
  .c-input::-moz-placeholder {
    color: #d1d1d1;
    opacity: 1; }
  .c-input::-ms-placeholder {
    color: #d1d1d1; }
  .c-input--newsletter {
    padding: .7rem 1.5rem;
    border-radius: 5px 0 0 5px; }

.c-nav {
  margin-bottom: 10px; }
  @media (min-width: 1200px) {
    .c-nav {
      margin-bottom: 0; } }
  .c-nav__item {
    display: block;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 25px;
    color: #444444;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
    .c-nav__item:hover {
      color: #444444; }
    @media (min-width: 1200px) {
      .c-nav__item {
        display: inline-block;
        width: auto;
        margin-right: 40px; } }
