//Colors
$white: #fff;
$black: #000;
$gray-light: #f2f3f5;
$gray-dark: #797979;
$gray-very-dark: #444444;
$gray-muted: #d1d1d1;
$accent: #f1c40f;

$yellow-gradient: linear-gradient(0deg, #ebcb55 0%, #f8d87e 100%);

//Font-sizes
$font-size-base: 1rem;
$font-size-1: $font-size-base * 3.75; // ~60px
$font-size-2: $font-size-base * 2.5; // ~40px
$font-size-3: $font-size-base * 1.5; // ~24px
$font-size-4: $font-size-base * 1.125; // ~18px
$font-size-5: $font-size-base * 1; // ~16px
$font-size-6: $font-size-base * .875; // ~14px
$font-size-7: $font-size-base * .75; // ~12px
$font-size-8: $font-size-base * .625; // ~10px
$font-size-9: $font-size-base * .5625; // ~9px

//Line heights
$line-height-base: 1.5;
$line-height-sm: 1.2;
$line-height-lg: 1.8;

$letter-spacing-condensed: -.1rem;

// Grid
$grid-base: 10px;
$gutter: $grid-base * 1.5;

// Radius
$border-radius: $grid-base * .5;

//Breakpoints
$bp-medium: '800px';
$bp-large: '1200px';